{% extends 'base.html' %}

{% block title %}DashBoard{% endblock %}

{% block head %}
<meta http-equiv='refresh' content='86400;url=/d/{{device.deviceKey}}'>

<!-- <link rel='stylesheet' type='text/css' href='/media/libs/fullcalendar-2.3.2/fullcalendar.css' /> -->
<link rel='stylesheet' type='text/css' href='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css' />


<link href="/static/device/css/d_main.css" rel="stylesheet">

<style type='text/css'>
	body {
		margin:0;
		padding:0;
		height:100%;
	 	padding-top: 90px;
	/*   padding-bottom: 30px; */
	}
	#calendar {
		width: 100%;
		height: 90%;
 		margin: 0 auto; 
	}
	.fc-toolbar {
		margin-bottom: 0;
		height: 0px
	}

</style>

{% endblock %}

{% block content %}

<body role="document">


 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header" >
          <img alt="Brand" src="/static/device/img/kmucs.png" height="70px"style="display: inline;"></img>
          <h1 style="display: inline; margin-left: 30px; vertical-align: middle;"><b>{{device.deviceName}}</b></h1>
        </div>
      </div>
    </nav>
 
 
    <div class="container-fluid theme-showcase" role="main" >

	        <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="row" >
      	<div class="col-sm-9" >
			<div id='calendar'></div>
		</div>
		<div class="col-sm-3" style="text-align: center;">
			<div class="well">
				<h2><span class="label label-primary" id="inClass">빈강의실</span></h2>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="classProgress"></div>
				</div>

				<h4 id="className">_</h4>
<!-- 				<h4 id="professor">_</h4> -->

			</div>
			<div class="well" style="text-align: center;">
				<h3 id="dpDate">_</h3>
				<h3 id="dpTime">_</h3>
			</div>
			
			<div class="well" style="text-align: center;">
				<h3><strong>* 강의실 주의사항 *</strong></h3>
				<h4>음식물 반입금지<br>사용 후 깨끗이 정리</h4>
				
			</div>
		</div>
	  </div>
	</div>
	
	

<!-- <script type='text/javascript' src='/media/libs/fullcalendar-2.3.2/moment.min.js'></script> -->
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'></script>

<!-- <script type='text/javascript' src='/media/libs/fullcalendar-2.3.2/fullcalendar.min.js'></script> -->
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js'></script>

<!-- <script src='/media/libs/fullcalendar-2.3.2/lang-all.js'></script> -->
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/lang/ko.js'></script>

<script src='/static/device/libs/fullcalendar-2.3.2/gcal.js'></script>

	
<script src="/static/device/js/d_main.js"></script>

<script type='text/javascript'>
	var now_date;
	var today_event = [];
	
// 	var doReload = function() {
// 		doClear();
// 		doGetEvents();
// 	}
	
// 	var doClear = function(){
// 		today_event = [];
// 	}
	
// 	var doGetEvents = function(){
// 		$.ajax({
// 			type : 'get',
// 			url : '/{{device.key}}/list',
// 			beforeSend : function(req) {
			
// 			},
// 			success : function(data) {
// 				today_event = JSON.parse(data);
				
// 				show();
// 			},
// 		});
// 	};
	
	var initPage = function(){
		var view = $('#calendar').fullCalendar('getView');
		setTimeout(function() {
			timeData = view.calendar.getEventCache();
			console.log(timeData);
			for (var i in timeData) {
				var aa = {
		                 title: timeData[i].title,
		                 start: timeData[i].start._i.split('+')[0],
		                 end: timeData[i].end._i.split('+')[0]
		             };
				today_event.push(aa);
			}
			
// 			console.log(today_event);
			initDate();
			checkClass();

		}, 1000);
				
	}
	
	$(document).ready(function() {
// 		doReload();
// 		
		show();
		setInterval("dpTime()",1000);
	});
	
// 	var googleCalendarId = 'cs.kookmin.ac.kr_jlsvnq120s019umqqpcscu9ng8@group.calendar.google.com'
// 	var key = 'AIzaSyDnDylqGlnO6Z0arlMNqzZlaouPWNQ6Zp8'
// 	var url = 'https://www.googleapis.com/calendar/v3/calendars/' + googleCalendarId + '/events?key='+ key +'&timeMin=2015-11-07T00%3A00%3A00%2B00%3A00&timeMax=2015-11-16T00%3A00%3A00%2B00%3A00&singleEvents=true&maxResults=9999&_=1446991667768'

function show() {
	$('#calendar').fullCalendar({
					header: {
						left: '',
						center: '',
						right: ''
					},
					timeFormat: 'H시(:mm)',
					columnFormat: 'ddd M/D',
					axisFormat: 'a h시',
					allDaySlot: false,
// 					defaultDate: now_date,
					defaultView: 'agendaWeek',
					editable: false, 
					minTime:'08:00:00',
					height: 'auto', 
					maxTime:'24:00:00',
					lang:'ko', 
					businessHours: {
						start: '00:00',
						end: '24:00',
						dow: [1,2,3,4,5]
					},
// 					now: now_date + 'T09:20:00',
// 					events: today_event

					googleCalendarApiKey: 'AIzaSyDnDylqGlnO6Z0arlMNqzZlaouPWNQ6Zp8',
					eventSources: [
					    {
				            googleCalendarId: '{{device.googleCalendarId}}',
				            success: function() {
				            	console.log('success');
				            	initPage();
				            }
// 							color:'#c0392b'
			        	},
					],
					
					viewRender: function( view, element ) {console.log('eee'); }
					
// 					events: function(start, end, timezone, callback) {
// 				        $.ajax({
// 				            url: url,
// 				            dataType: 'json',
// 				            data: {
// 				                // our hypothetical feed requires UNIX timestamps
// 				                start: start.unix(),
// 				                end: end.unix()
// 				            },
// 				            success: function(doc) {
// 				            	console.log(start + " - " + end);
// 				                var events = [];
// 				                $(doc).find('event').each(function() {
// 				                    events.push({
// 				                        title: $(this).attr('title'),
// 				                        start: $(this).attr('start') // will be parsed
// 				                    });
// 				                });
// 				                callback(events);
// 				            }
// 				        });
			        
				});
	
}
</script>
</body>
{% endblock %}
