<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ClassBoard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="/static/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color: #555555">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">ClassBoard</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                     <li>
                    	<button type="button" method="post" style="background-color: transparent; border: 0ex; text-decoration: none;margin-top:14px;">
                            <a class="page-scroll" href="/tutorial">튜토리얼</a>
                        </button>
                    </li>
                    <li>
                        <button type="button" method="get" style="background-color: transparent; border: 0ex; text-decoration: none;margin-top:14px;">
                            <a class="page-scroll" href="/management">관리</a>
                        </button>
                    </li>
                    <li>
                    	<button type="button" method="post" style="background-color: transparent; border: 0ex; text-decoration: none;margin-top:14px;">
                            <a class="page-scroll" href="/signin">서비스시작</a>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    {%- block body %}
    <br><br><br><br><br>
    <body>
        <div id="wrapper">
            <nav>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            <li>
                                <a href="/management/group" style="color:#444444"><i class="fa fa-folder-open-o fa-fw"></i> 그룹관리</a>
                            </li>

                            <li>
                                <a href="/management/device" style="color:#444444"><i class="fa fa-wrench fa-fw"></i> 디바이스관리</a>
                            </li>

                            <li>
                                <a href="/management/contents" style="color:#444444"><i class="fa fa-columns fa-fw"></i> 콘텐츠</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa-folder-open-o fa-fw"></i> 그룹관리</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">

                        <h4>그룹탈퇴</h4>
                        <div class="form-group">
                        <h6 style="color:#787878">하단 버튼을 클릭하면 해당 그룹이 탈퇴처리됩니다.</h6>
                        <button>탈퇴</button>
                        </div>

                        <br>
                        <h4>그룹정보 설정</h4>

                        <div class="form-group">
                            <label>그룹명</label>
                            <input class="form-control" placeholder="그룹명 입력" style="width:400px">
                        </div>
                        <button>변경</button>

                        <br><br><br>
                        <h4>공동 관리자 설정</h4>


                            <div class="table-responsive" style="width:500px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Email Address</th>
                                            <th>Nickname</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in userInfo %}
                                        <tr>
                                            <td>{{ i.userMail }}</td>
                                            <td>{{ i.nickname }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        <div class="form-group">
                            <label>관리자 초대</label>
                            <input id="invitaioinMail" class="form-control" placeholder="메일주소 입력" style="width:400px">
                            <button onclick="invite({{ groupId }})">초대</button>
                        </div>



                    </div>
                </div>

                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>


    <script>
    function invite(gid) {
        var mail = document.getElementById('invitaioinMail').value

        if(mail.indexOf('@') > 0){
            $.ajax({
                url : "/management/group" + gid + "/invite",
                type: "post",
                dataType : "json",
                data : JSON.stringify({"invitationMail" : mail})
            })
        }
        else
            alert('It does not conform to the format.')
    }
    </script>

    {%  endblock -%}


    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/agency.min.js"></script>


    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

</body>

</html>
